<html>
  <head>
    <title>404: <%= request.fullpath %></title>
    <style>
      #jt-error {
        margin: 32px auto; padding: 32px;
      }
    </style>
  </head>
  <body>
    <div id="jt-error">
      <p>Sorry!  We couldn't find the page you were looking for :(</p>
    </div>
  </body>
</html>
